.search-form {
    width: 220px;
}

#search-result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    /* grid-template-rows: 1fr 1fr 1fr;  */
    gap: 1em 1em; 
}

.card-img-wrapper {
    position: relative;
    width: 100%;
    padding-top: 150%;   
}

.card-img-wrapper .card-img-top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    #search-result {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

@media screen and (max-width: 575px) {
    #search-result {
        grid-template-columns: 1fr 1fr; 
    }
}

@media screen and (max-width: 425px) {
    #search-result {
        /* grid-template-columns: 1fr;  */
    }
}